.footer {
  border-top: 1px solid $border-color;
  color: $grey;
  font-size: $font-size-sm;

  .wrapper {
    overflow-x: hidden;
    padding: $gap * 2 0;
    .row {
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-width: $font-weight-regular;
      }
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $gap;

    a {
      margin: 0 $gap-sm;
    }
  }
}
