#main-container:not(.home):not(.contact) {
  margin: $main-gap $gap $gap * 3;

  .page {
    &__main-title {
      font-size: $font-size-xxl;
      margin: 0 0 $gap * 2 0;
      position: relative;
      text-align: center;
    }

    &__subtitle {
      font-size: $font-size-lg;
    }
  }
}
