.logo {
  position: relative;
  font-size: $font-size-lg;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-grey;
  padding: 2px 4px;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, $light-brown, transparent);
  }

  p {
    line-height: 1;
    font-family: 'Bilbo Swash Caps', sans-serif;
    font-size: $font-size * 0.85;
    padding: 4px;
  }

  span {
    width: 3px;
    height: 3px;
    background-color: $light-brown;
    transform: rotate(-45deg);
  }
}
