@mixin navItemLine {
  content: '';
  width: 100%;
  height: 1px;
  background-color: $border-color;
  animation: scaleAnimate .3s linear 1;
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.navigation {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  left: 0;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  height: $navigation-height-sm;
  background-color: rgba(245, 245, 245, .9);

  @include respond-to($xl-desktop) {
    padding: 0 4rem;
    height: auto;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to($xl-desktop) {
      padding: 1.5rem 0;
    }

    &__hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      width: 2rem;
      height: 2rem;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      z-index: 10;

      &:focus {
        outline: none;
      }

      div {
        width: 2rem;
        height: 2px;
        background: $font-color;
        transition: all 0.3s linear;
        position: relative;
        transform-origin: 1px;

        &:first-child {
          transform: rotate(0);
          width: 50%;
        }

        &:nth-child(2) {
          opacity: 1;
          transform: translateX(0);
        }

        &:nth-child(3) {
          transform: rotate(0);
          width: 50%;
        }
      }

      &--open {
        div {
          background: $font-color;

          &:first-child {
            transform: rotate(45deg);
            width: 100%;
          }

          &:nth-child(2) {
            opacity: 0;
            transform: translateX(20px);
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
            width: 100%;
          }
        }
      }
    }
  }
}

.navbar__menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: $light-grey;
  height: calc(100vh - #{$navigation-height-sm});
  position: fixed;
  top: $navigation-height-sm;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s linear;
  overflow: auto;
  z-index: 10;

  @include respond-to($laptop) {
    width: 580px;
    height: calc(100vh - 92px);
    position: fixed;
    top: 92px;
  }

  &--open {
    transform: translateX(0);
    border-right: 1px solid $border-color;
  }

  @media (max-width: 576px) {
    width: 100%;
  }

  &--links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: $gap $gap $gap * 8;

    @include respond-to($laptop) {
      margin: 3rem 4rem 2rem;
    }

    &-item {
      margin: $gap 0;
      width: 100%;
      cursor: pointer;

      &--active {
        a {
          color: $brown;
          position: relative;
          &:after {
            @include navItemLine;
          }
        }
      }

      &--link {
        font-size: $font-size;
        color: $font-color;
        text-transform: uppercase;
        font-weight: $font-weight-extra-bold;
        letter-spacing: 0.5rem;
        text-decoration: none;
        transition: all 0.5s linear;
        position: relative;
        display: inline-block;

        &:hover {
          color: $black;
          transform: translateX(5px);

          &:after {
            @include navItemLine;
          }
        }

        &--expanded {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .icon {
            transform: rotate(0);
            transition: all .3s linear;

            &--active {
              transform: rotate(180deg);
            }

            &:hover {
              filter: invert(94%) sepia(7%) saturate(245%) hue-rotate(9deg) brightness(94%) contrast(85%);
            }
          }
        }
      }

      .menu-item-children {
        margin-left: $gap-lg;
        display: none;

        &--active {
          display: block;
        }

        &--item {
          margin: $gap 0;
          width: 100%;
          font-size: $font-size * 0.85;
          color: $font-color;
          text-transform: uppercase;
          font-weight: $font-weight-thin;
          letter-spacing: 0.5rem;
          text-decoration: none;
          transition: color 0.3s linear;

          &--active {
            color: $brown;
            font-weight: $font-weight-extra-bold;

            a {
              position: relative;
              &:after {
                @include navItemLine;
              }
            }
          }

          &--link {
            position: relative;
            transition: all 0.5s linear;
            display: inline-block;
            &:hover {
              color: $black;
              transform: translateX(5px);

              &:after {
                @include navItemLine;
              }
            }
          }
        }
      }
    }
  }

  &--language {
    display: flex;
    justify-content: center;
  }
}
