.scroll-bottom {
  position: absolute;
  bottom: calc(6% + 20px);
  left: 10%;

  span {
    position: absolute;
    bottom: -15px;
    left: 50%;
    display: block;
    opacity: 1;
    width: 10px;
    height: 10px;
    border-left: 1px solid $font-color;
    border-bottom: 1px solid $font-color;
    -webkit-transform: rotate(-45deg);
    transform: translate(-50%, 0) rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
  }

  p {
    font-size: $font-size-sm;
    writing-mode: tb;
  }
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: translate(-50%, -15px) rotate(-45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, 5px) rotate(-45deg);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: translate(-50%, -15px) rotate(-45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 5px) rotate(-45deg);
    opacity: 0;
  }
}
