.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  z-index: 4;
  position: relative;

  &:before {
    content: "";
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, $light-brown, transparent);
  }
}
