.social-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: $gap;

  &__link {
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 1.4rem;
      height: 1.4rem;
    }
  }
}
