.start-music {
  &-container {
    @include page-container;
    background-color: $black;
  }

  &-text {
    animation: textAnimate 6s linear 1;
    opacity: 1;
  }

  &-buttons {
    margin-top: $gap;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 40px;
      border: 1px solid $border-color;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px;
      margin: 0 1rem;
      transition: all .3s ease-in-out;

      &:hover {
        background-color: $font-color;
        color: $black;
        font-weight: $font-weight-bold;
      }
    }
  }
}


@keyframes textAnimate {
  0% {
    opacity: 0;
  }
  70% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
