.bio {
  &__box{
    text-align: left;
  }
  .content {
    p:first-child {
      margin: $gap-lg 0;

      @include respond-to($desktop) {
        margin: 0;
      }

    }

    .bio-photo-container {
      position: relative;
      img {
        @include respond-to($desktop) {
          width: auto;
          height: 500px;
          object-fit: cover;
          position: absolute;
          left: -8px;
        }
      }

      &--top-15 {
        img {
          top: 15%;
        }
      }
    }
  }
}
