.cds {
  &-box {
    transition:all .5s linear;
    &:hover {
      cursor: pointer;
      transform: translateX(5px)
    }

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    @include respond-to($desktop) {
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
        height: 320px;
      }
    }

    &__title {
      margin-bottom: $gap-sm;
    }

    &__details {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      p {
        border-bottom: 1px solid $border-color;
        display: flex;
        align-items: center;
        font-size: $font-size-sm;
      }

      .icon-details {
        margin-left: 2px;
        width: 7px;
        height: 7px;
        transform: rotate(-45deg);
        border-right: 2px solid $font-color;
        border-bottom: 2px solid $font-color;
      }
    }

    &--single {
      text-align: left;
      .cds__buy-link {
        display: inline-flex;
        align-items: center;
        border: 1px solid $border-color;
        padding: $gap-sm;
        transition: all .5s linear;

        .icon--buy {
          margin-left: $gap-sm;
          @extend %fa-icon;
          @extend .fas;

          &:before {
            content: fa-content($fa-var-shopping-basket);
          }
        }

        &:hover {
          background-color: $white;
          color: $black;
        }
      }
    }
  }
}
