.cds {
  &-box {
    @include respond-to($desktop) {
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img {
        height: 320px;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &__title {
      margin-bottom: $gap-sm;
    }

    &__details {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      p {
        border-bottom: 1px solid $white;
        display: flex;
        align-items: center;
        //padding: $gap-sm;
        //background: $blue;
      }

      .icon-details {
        margin-left: 2px;
        @extend %fa-icon;
        @extend .fas;

        &:before {
          content: fa-content($fa-var-chevron-right);
        }
      }
    }

    &--single {
      text-align: left;
      .cds__buy-link {
        display: inline-flex;
        align-items: center;
        border: 1px solid $white;
        padding: $gap-sm;

        .icon--buy {
          margin-left: $gap-sm;
          @extend %fa-icon;
          @extend .fas;

          &:before {
            content: fa-content($fa-var-shopping-basket);
          }
        }
      }
    }
  }
}
