.works {
  &-box {
    margin-bottom: $gap-lg;
    text-align: left;
  }
  &__title {
    font-size: $font-size-lg;
    font-style: italic;
    font-weight: $font-weight-extra-bold;
  }

  &__subtitle {
    margin-bottom: $gap-lg;
  }

  &__performers {
    margin: $gap-lg 0;

    &--title {
      margin-bottom: $gap * 0.4;
      font-weight: 600;
    }

    li:not(:first-child) {
      margin-left: $gap * 2;
      margin-bottom: $gap * 0.4;
      position: relative;

      &:after {
        content: '';
        width: 6px;
        height: 2px;
        background-color: #96907E;
        display: block;
        position: absolute;
        left: -14px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__details {
    font-size: $font-size-sm;
  }
}
