.contact {
  &__container {
    @include page-container;

    &--row {
      flex-direction: column-reverse;

      .contact-photo {
        img {
          max-height: 70vh;
          width: 56vw;
          object-fit: contain;
        }
      }
      .contact-details {
        margin-bottom: $gap-lg;
        .contact__email {
          font-size: 6vw;
        }
        .contact__phone {
          font-size: 4vw;
        }
      }

      @include respond-to($desktop) {
        flex-direction: row;
        .contact-details {
          .contact__email {
            font-size: 3vw;
          }
          .contact__phone {
            font-size: 2vw;
          }
        }
      }
    }
  }
}
