.contact {
  &__container {
    @include page-container;

    &--row {
      flex-direction: column-reverse;

      .contact-photo {
        img {
          max-height: 80vh;
          width: 56vw;
        }
      }
      .contact-details {
        margin-bottom: $gap-lg;
        .contact__email {
          font-size: $font-size-lg;
        }
      }
    }

    @include respond-to($desktop) {
      background-image: none;

      .contact-photo {
        display: block;
        img {
          max-height: 80vh;
        }
      }

      .contact__email {
        font-size: $font-size-xxl;
      }
    }
  }
}
