.contact {
  &__container {
    @include page-container;
    background-image: url('../img/main/anna-roclawska-musialczyk005.jpg');

    .contact-photo {
      display: none;
    }

    @include respond-to($desktop) {
      background-image: none;

      .contact-photo {
        display: block;
        img {
          max-height: 80vh;
        }
      }
    }
  }

  &__email {
    font-size: $font-size-xxl;
  }
}
