.home-page {
  &-container {
    @include page-container;
    background-image: url('../img/main/anna-roclawska-musialczyk007.jpg');


    &:before {
      @include page-container-before;
    }

    .professions {
      height: 30px;
    }
  }

  &__title,
  &__subtitle {
    color: $light-grey;
    z-index: 3;
    font-family: 'Bilbo Swash Caps', sans-serif;

    * {
      font-family: 'Bilbo Swash Caps', sans-serif;
    }

    &--name {
      font-size: 9rem;
      line-height: .8;
    }

    &--surname {
      font-size: 2.6rem;
    }
  }

  &__title {
    @include page-title;
  }

  &__subtitle {
    font-size: $font-size-xxl;
    letter-spacing: .7rem;
  }
}
