$font-color: #030303;

$white: #ffffff;
$black: #000000;

$light-grey: #F5F5F5;
$grey: #E8E8E8;
$dark-grey: #696969;
$border-color: darken($light-grey, 20%);

$green: #7C9C85;

$brown: #635940;
$light-brown: #96907E;
$blue: #6F7A96;
