$gap-sm: 0.625rem;
$gap: 1rem;
$gap-md: 1.25rem;
$gap-lg: 1.875rem;

$main-gap: 6rem;

$navigation-height-sm: 100px;

$phone: '(min-width: 120px)';
$phone-xl: '(min-width: 375px)';
$tablet: '(min-width: 480px)';
$laptop: '(min-width: 768px)';
$desktop: '(min-width: 1024px)';
$xl-desktop: '(min-width: 1440px)';
